:root{
    --clr-theme-accent-dark: #3C6DB8;
    --clr-theme-accent-light: #1D70EF;
    --clr-dark-bg: #2C2E30;
    --clr-base-font: #ffffff;

    --clr-accent-1: #E3663F;
    --clr-accent-2: #29B9CD;
    --clr-accent-3: #6351D3;
    --clr-accent-4: #BCC0C5;
    --clr-accent-5: #D53F52;
    --clr-accent-6: #73777C;
    --clr-light-red: #ff929f;
    --clr-light-orange: #ffac92;
    --clr-light-yellow: #ffd392;
    --clr-light-green: #92FFB0;
    --clr-light-tiff: #92f2ff;
    --clr-light-blue: #92caff;
    --clr-light-purple: #a192ff;
    --clr-light-violet: #dc92ff;
    --clr-light-gray: #E8EBEE;

    --ff-base: "Inter", sans-serif;
    --ff-accent: "Rubik Mono One", serif;

    --fs-body: clamp(14px, 2vw, 28px);
    --fs-180: clamp(14px, 1.5vw, 23px);  /* 23px */
    --fs-200: clamp(18px, 1.75vw, 28px);  /* 28px */
    --fs-220: clamp(16px, 2vw, 31px);  /* 31px */
    --fs-250: clamp(20px, 2.5vw, 37px);  /* 37px */
    --fs-300: clamp(24px, 3vw, 44px);  /* 44px */
    --fs-400: clamp(60px, 4rem + 1vw, 90px);   /* 72px */
   
    --fw-semi-bold: 500;

    --block-gap: 8%;
    --block-inner-gap: 2rem;
    --block-small-gap: 1rem;

}

*, *::before, *::after{
    box-sizing: border-box;
}

img {
    display: block;
}
html{
    color-scheme: dark;
}
body{
    background-color: black;
    font-family: var(--ff-base);
    font-size: var(--fs-body);
    color: var(--clr-base-font);
    margin: 0;
}
main{
    max-width: 1920px;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-body{
    padding: 2em 2.5em;
}

.section-black-bg{
    background-color: black;
}
.section-white-bg{
    background-color: #fff;
    color: var(--clr-dark-bg);
}
.section-gray-bg{
    background-color: var(--clr-dark-bg);
}
.section-content{
    display: flex;
    flex-wrap: wrap;
    gap: var(--block-gap);
    padding: 4em 0;
}
.section-content-col{
    min-width: 300px;
    width: 46%;
    margin-bottom: 2.5rem;
}

/* FONTS */

h2, h3{
    padding: 0;
    margin: 0;
    font-family: var(--ff-base);
}

h2{
    font-size: clamp(24px, 4vw, 48px);
}

.text-value-2{
    font-family: var(--ff-base);
    font-weight: var(--fw-semi-bold);
    font-size: clamp(32px, 4vw, 4rem);
    line-height: 120%;
    letter-spacing: -0.75px;
}

.accent-1{
    color: var(--clr-accent-5);
    background-color: var(--clr-light-red);
}
.accent-2{
    color: var(--clr-accent-1);
    background-color: var(--clr-light-orange);
}
.accent-3{
    color: var(--clr-accent-2);
    background-color: var(--clr-light-tiff);
}
.accent-4{
    color: var(--clr-accent-3);
    background-color: var(--clr-light-purple);
}

.p-medium-gray{
    color: var(--clr-accent-6);
    font-size: var(--fs-180);
    line-height: 130%;
}

.colorful-circle{
    width: 2em;
    height: 2em;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorful-separator{
    width: 100%; 
    height: 10px;
    background: linear-gradient(to right, 
      var(--clr-accent-4),        
      var(--clr-light-red),        
      var(--clr-light-red),        
      var(--clr-light-orange),        
      var(--clr-light-yellow),        
      var(--clr-light-yellow),        
      var(--clr-light-green),        
      var(--clr-light-tiff),        
      var(--clr-light-blue),        
      var(--clr-light-purple),        
      var(--clr-light-violet)        
    );
}

[class*="styled-list"] {
    list-style: none; 
    padding: 0;
    margin: 0;
}

[class*="styled-list"] li {
    position: relative; 
    margin-bottom: 1em;
    padding-left: 1em; 
    font-size: 1rem;
    line-height: 1.5;
}

[class*="styled-list"] li::before {
    content: "-> "; 
}
.styled-list-1 li::before{
    color: var(--clr-light-red); 
}
.styled-list-2 li::before{
    color: var(--clr-light-orange); 
}
.styled-list-3 li::before{
    color: var(--clr-light-tiff); 
}
.styled-list-4 li::before{
    color: var(--clr-light-purple); 
}


/* PAGE INTRO */

.logo{
    color: var(--clr-theme-accent-dark);
    font-family: var(--ff-accent);
    font-size: var(--fs-200);
    letter-spacing: 120%;
    margin-bottom: 10%;
}


/* CONTENTS */

#contents .section-body{
    height: calc(100vh - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contents-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.contents-list li {
    display: flex; 
    align-items: baseline;
    line-height: 2; 
}
.contents-description {
    color: var(--clr-accent-6);
}


/* PROBLEM */

#problem .description {
    color: var(--clr-accent-6);
    font-size: var(--fs-200);
}
#problem .problems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tags{
    display: flex;
    flex-direction: column;
    gap: var(--block-small-gap); 
}
.tag{
    color: var(--clr-dark-bg);
    font-size: var(--fs-220);
    background-color: var(--clr-theme-accent-dark);
    padding: 10px 20px;
    border-radius: 20px;
    width: fit-content;
    position: relative;
    left: 0; /* Default left offset */
}
.tag:nth-child(2) {
    left: 20px;
}

.tag:nth-child(3) {
    left: 40px;
}

.tag:nth-child(4) {
    left: 60px;
}

.tag:nth-child(5) {
    left: 80px;
}
.statistics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--block-small-gap);

}
.statistics div {
    display: flex;
    flex-direction: column;
    color: var(--clr-accent-6);
    font-weight: var(--fs-300);
}
.statistics .num {
    font-size: clamp(60px, 5vw, 140px);
    font-weight: 500;
    color: white;
}
.statistics .unit {
    font-size: clamp(30px, 2.5vw, 70px);
    color: white;
}


/* SOLUTION */

#our-solution h3{
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

.solution-list{
    list-style: none;   
    margin: 1em 0;
    padding: 0;
}
.solution-list li{
    padding-left: 20px; 
    border-left: 4px solid #000; /* Vertical line */
    margin-bottom: 20px;
    font-size: var(--fs-200);
}
#our-solution .highlight {
    text-decoration: underline;
}

#our-solution .conclusion{
    font-size: var(--fs-250);
}


/* CONTACT FORM */

.contact-form {
    margin: 10% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--block-small-gap);
}
.contact-form input{
    height: var(--fs-220);
    height: 4em;
    padding: 1em;
}
.contact-form button{
    background-color: var(--clr-theme-accent-dark);
    /* padding: 0.75em 4em; */
    height: 4em;
    width: 12rem;
    border: none;
    font-weight: 600;
    border-radius: 3px;
}
.contact-form .error{
    color: var(--clr-accent-5);
    font-size: 0.8em;    

}


/* Strategic growth and revenue playbook */

#revenue-playbook .description{
    font-size: var(--fs-250);
    line-height: 140%;
}

#revenue-playbook .description span{
    background: none;
}

.strategy-diagram {
    position: relative;
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    height: 600px;
    min-height: 600px;
    max-height: 600px;
}
.strategy-diagram .circle {
    position: absolute;
    width: 380px;
    height: 380px;
    padding: 5%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1); 
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}

.strategy-diagram .circle p{
    padding: 0;
    margin: 0;
}
  
.strategy-diagram .circle1 {
    top: 0;
    left: 0;
    align-items: baseline;

}
  
.strategy-diagram  .circle2 {
    top: 0;
    right: 0;
    align-items: end;
}
  
.strategy-diagram .circle3 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: flex-end;
}
  
.strategy-diagram .label {
    margin-bottom: 10px;
}

.strategy-diagram .circle2 .label {
    background-color: var(--clr-light-orange);
}


  
.strategy-diagram  .circle3 .label {
    background-color: var(--clr-light-tiff);
}
  
.strategy-diagram  .center-text {
    position: absolute;
    font-size: var(--fs-300);
    font-family: var(--ff-accent);
    font-weight: bold;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
}
  
.strategy-diagram  .text {
    position: absolute;
    color: var(--clr-accent-6);
}
  
.strategy-diagram  .scouting {
    top: 20%;
    left: 40%;
}
  
.strategy-diagram .hiring {
    top: 27%;
    left: 45%;
}
  
.strategy-diagram .matching {
    top: 52%;
    left: 10%;
}
  
  .strategy-diagram .audit {
    top: 50%;
    left: 62%;
  }
  
  .strategy-diagram  .certificates {
    top: 57%;
    left: 55%;
  }



  /* WHAT KUVIO OFFERS  */

#kuvio-offers .section-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 950px;
}
.offers-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--block-gap);
    margin: 2em 0;
    position: relative;
}
.offers-container h3{
    font-size: var(--fs-200);
    margin: 1em 0;
}
.offer {
    position: relative;
    /* background-color: #2a2a2a; */
    padding: 20px;
    border-radius: 12px;
    width: calc(25% - 1em); /* 4 items per row */
    min-width: 250px;
    min-height: 260px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.offer:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.offer-body {
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0; /* Initially hidden */
    transform: translateY(20%);
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}
  
/* Reveal offer body on hover */
.offer:hover .offer-body {
    opacity: 1;
    max-height: 500px; 
    transform: translateY(0);
}


/* AI in Kuvio */

#AI p{
    font-size: var(--fs-180);
    line-height: 130%;
}
.AI-blocks {
    margin: 2em 0 0;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    gap: 2%;
}
.AI-block{
    border-top: 4px solid var(--clr-theme-accent-light);
    padding: 1.5em 0;
}
.chat-container {
    margin: 0 auto 5%;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    opacity: 0; /* Hide block before animation begins */
    transition: opacity 0.5s ease-in-out;
}

.message {
    background-color: #adceff;
    color: #000;
    padding: 1rem 1.25rem;
    border-radius: 15px;
    max-width: 80%;
    opacity: 0; /* hidden by default */
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.user-message {
    align-self: flex-start;
    text-align: left;
}

.emoji-message {
    align-self: flex-start;
    font-size: 2rem;
}

.divider {
    border: 0;
    height: 1px;
    background: #fff;
    margin: 10px 0;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.response {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.message.visible,
.divider.visible,
.response.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Chat container becomes visible */
.chat-container.visible {
    opacity: 1;
}


/* TEAM  */
.team-container {
    margin: 4rem 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 5rem; 
}
  
.profile {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 1 calc(50% - 40px); 
}
  
.profile-image {
    width: 125px; 
    height: 125px; 
    border-radius: 50%; 
    object-fit: cover;
    transition: transform 0.3s ease;
}
  
.profile-image:hover {
    transform: scale(1.1);
}
  
  /* Profile info */
.profile-info {
    flex-grow: 1; /* Make the text container grow to fill space */
}
  
.profile-info h3 {
    margin: 0 0 10px 0;
    font-size: var(--fs-180);
    color: #fff;
}
  
.profile-info h3 span {
    display: block;
    font-size: 1rem;
    color: var(--clr-accent-6);
    font-weight: normal;
}
  
.profile-info p {
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.6;
    color: var(--clr-accent-4);
}


/* Path to Kuvio */
#path-to-kuvio li {
    margin-bottom: 1em;
}
#path-to-kuvio li span {
    text-decoration: underline;
}
#path-to-kuvio .gray-list li{
    font-size: var(--fs-180);
    color: var(--clr-accent-6);
}


/* Project advisors */
.advisors {
    flex-direction: row;

}
.advisor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
}
.advisor .profile-image{
    width: 200px;
    height: 200px;
    border: 4px solid var(--clr-accent-4);
    margin-bottom: 1em;
}
.advisor p{
    text-align: center;
    color: var(--clr-light-gray);
}


/* RECAP */
.consumers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
    column-gap: 4%;
    row-gap: 3rem;
    margin: 8% 0 5%;
}
.consumer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 22%;
    min-width: 150px;
}
.consumer-number{
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    font-family: var(--ff-accent);
    font-size: var(--fs-200);
    color: var(--clr-theme-accent-dark);
    background-color: rgba(60, 109, 184, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25em;
}
.consumer .description{
    color: var(--clr-accent-6);
    height: 60%;
    margin: 1rem 0;
}


/* Blockchain: The Key to Kuvio's Future-Proof Design */
.first-p{
    margin-top: 0;
}


/*****************************/
/*********** MOBILE **********/
/*****************************/

@media (max-width: 1024px){

    .section-content{
        flex-direction: column;
        column-gap: 25px;
        padding: 4em 0;
    }
    .section-content-col{
        width: 100%;
        margin-bottom: 8%;
    }

    .profile {
        flex: 1 1 100%; /* Single column layout for smaller screens */
    }
    
    .contact-form {
        flex-direction: column;
    }


    /* Strategic growth and revenue playbook */

    .strategy-diagram {
        width: 400px;
        min-width: 400px;
        max-width: 400px;
        height: 400px;
        min-height: 400px;
        max-height: 400px;
    }
    .strategy-diagram .circle {
        width: 250px;
        height: 250px;
    }


}
